@import ../../../styles/mixins
@import ../../../styles/variables

.cdk-drag-preview
    box-sizing: border-box
    border-radius: 4px
    margin: 0 15px
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2)

.cdk-drag-placeholder
    opacity: 0
    margin: 15px 0px

.cdk-drag-animating
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1)

.card-body
    background-color: $card-body-color
    margin: 0 15px
    padding: 10px
    word-wrap: break-word

.TODO
    color: $todo-card-color
    font-weight: bold
.IN_PROGRESS
    color: $ip-card-color
    font-weight: bold
.DONE
    color: $done-card-color
    font-weight: bold
    text-decoration-line: line-through

mat-card
    &.TODO_TITLE
        @include setBorderColor($todo-card-color)
    &.IN_PROGRESS_TITLE
        @include setBorderColor($ip-card-color)
    &.DONE_TITLE
        @include setBorderColor($done-card-color)
