<mat-card cdkDrag [ngClass]="task.status + '_TITLE'">
    
    <mat-card-header>

        <mat-card-title>
            Task {{task.id}}
        </mat-card-title>
       
        <mat-card-subtitle>
            <p [ngClass]="task.status">{{STATUS_NAME[task.status]}}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="card-body">
            {{task.description}}
        </div>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-button (click)="showNotImplementedMessage()">Edit</button>
        <button mat-button color="accent" (click)="showNotImplementedMessage()">Delete</button>
    </mat-card-actions>
</mat-card>