<mat-toolbar class="toolbar" color="primary">
  <p>Task manager</p>
  <div class="divider"></div>
  <button mat-raised-button color="accent">New task</button>
</mat-toolbar>

<div cdkDropListGroup class="dashboard">
  <app-state-column [taskStatus]="TODO" [tasks]="todoTasks$ | async" (taskStatusChanged)= "onTaskStatusChanged($event)"></app-state-column>
  <div class="column-divider"></div>
  <app-state-column [taskStatus]="IN_PROGRESS" [tasks]="inProgressTasks$ | async" (taskStatusChanged)= "onTaskStatusChanged($event)"></app-state-column>
  <div class="column-divider"></div>
  <app-state-column [taskStatus]="DONE" [tasks]="doneTasks$ | async" (taskStatusChanged)= "onTaskStatusChanged($event)"></app-state-column>
</div>
