.dashboard
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: center
    padding: 15px

.toolbar
    display: flex
    flex-direction: row
    align-items: space-between
    .divider
        flex-grow: 4

    
